# Local .terraform directories
**/.terraform/*

# State files
*.tfstate
*.tfstate.*

# Root module files
.terraform.lock.hcl
backend.tf
providers.tf
provider.tf

# Local development files
scratch.tf

# Crash log files
crash.log

# Variables used in local development
*.tfvars

# Places where secrets can live
.envrc
